.menus-page {
  background: linear-gradient(to right, #4a7f9c, #f4ec8c);
  height: 100vh;
  padding-top: 8rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.specials-heading {
  text-align: left;
  letter-spacing: 2px;
  font-size: 80px;
  text-shadow: 2px 2px 4px;
  color: #f4e64c;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.corousel-container{

}