.about-page {
  height: 100vh;
  padding-top: 80px;
  background-color: #4a7f9c;
  background: linear-gradient(to right, #4a7f9c, #ffffff);
}

.about-box {
  display: flex;
  justify-content: center;
}
.xyz {
  width: 60%;
}
.about-heading {
  flex: 1;
  font-size: 80px;
  text-shadow: 2px 2px 4px;
  color: #f4e64c;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.about-heading p {
  text-align: left;
  letter-spacing: 2px;
}
.about-content {
}
.about-content p {
  font-size: 25px;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}
.about-image {
  width: 100px;
}
